name: Run Tests

on:
  push:
    branches: [main]
  release:
    types: [published]
  pull_request:

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.11", "3.12", "3.13", "3.14"]

    steps:
      - uses: actions/checkout@v6

      - name: Install uv and set the Python version
        uses: astral-sh/setup-uv@v7
        with:
          version: "0.9.28"
          enable-cache: true
          python-version: ${{ matrix.python-version }}

      - name: Install the project with dev dependencies
        run: uv sync --locked --all-extras --dev

      - name: Run tests
        run: uv run pytest

  trigger_publish:
    needs: test
    if: github.event_name == 'release' && github.event.action == 'published'
    uses: ./.github/workflows/publish.yml
    permissions:
      contents: read
      id-token: write
